.glossar-entry {
    border-bottom: 1px solid #000000;
    font-style: italic;
    cursor: pointer;
}

.glossar-explanation {
    display:inline;
    background:#c2ccd9;
    padding:0 .5rem;
    margin:0 1rem;
    border-radius:.25rem;
}

.glossar-close {
    color: #ff0000;
    font-weight: 700;
    font-size: 1.25rem;
    cursor: pointer;
    margin-left:.5rem;
}

.glossar-close::after {
    display:inline-block;
    content:'\00D7';
}

